[submodule "libs/libpng"]
	path = libs/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "libs/libtiff"]
	path = libs/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "libs/libjpeg"]
	path = libs/libjpeg
	url = https://github.com/LuaDist/libjpeg.git
[submodule "libs/bzip2-1.0.6"]
	path = libs/bzip2-1.0.6
	url = https://github.com/enthought/bzip2-1.0.6
